@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HWT Artz';
  src: url('/fonts/HWT-Artz.woff2') format('woff2'),
       url('/fonts/HWT-Artz.woff') format('woff'),
       url('/fonts/HWT-Artz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}