@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HWT Artz';
  src: url('/fonts/HWT-Artz.woff2') format('woff2'),
       url('/fonts/HWT-Artz.woff') format('woff'),
       url('/fonts/HWT-Artz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.chapter-content h3 {
  color: #BF3154;
  font-family: "HWT Artz", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chapter-content h4 {
  color: #00776E;
  font-family: "HWT Artz", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chapter-content p, .chapter-content li {
  color: black;
}

.texto-corrido p {
  color: black;
}